// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Mainly from "../../../../../index.js";

export declare namespace TransactionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TransactionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TransactionsClient.Options>;

    constructor(options: TransactionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Mainly.ethereum.GetTransactionsRequest} request
     * @param {TransactionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Mainly.BadRequestError}
     * @throws {@link Mainly.UnauthorizedError}
     * @throws {@link Mainly.NotFoundError}
     * @throws {@link Mainly.ConflictError}
     * @throws {@link Mainly.UnprocessableEntityError}
     * @throws {@link Mainly.TooManyRequestsError}
     * @throws {@link Mainly.InternalServerError}
     * @throws {@link Mainly.ServiceUnavailableError}
     * @throws {@link errors.MainlyError}
     * @throws {@link errors.MainlyTimeoutError}
     *
     * @example
     *     await client.ethereum.transactions.get({
     *         hash: "hash"
     *     })
     */
    public get(
        request: Mainly.ethereum.GetTransactionsRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): core.HttpResponsePromise<Mainly.ethereum.EthereumTransactionsGetEthereumResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Mainly.ethereum.GetTransactionsRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Mainly.ethereum.EthereumTransactionsGetEthereumResponse>> {
        const { hash, raw } = request;
        const _queryParams: Record<string, unknown> = {
            raw,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MainlyEnvironment.Default,
                `v1/ethereum/transactions/${core.url.encodePathParam(hash)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Mainly.ethereum.EthereumTransactionsGetEthereumResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Mainly.BadRequestError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 401:
                    throw new Mainly.UnauthorizedError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 404:
                    throw new Mainly.NotFoundError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 409:
                    throw new Mainly.ConflictError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 422:
                    throw new Mainly.UnprocessableEntityError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Mainly.TooManyRequestsError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Mainly.InternalServerError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Mainly.ServiceUnavailableError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MainlyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/ethereum/transactions/{hash}",
        );
    }

    /**
     * @param {Mainly.ethereum.GetStatusTransactionsRequest} request
     * @param {TransactionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Mainly.BadRequestError}
     * @throws {@link Mainly.UnauthorizedError}
     * @throws {@link Mainly.NotFoundError}
     * @throws {@link Mainly.ConflictError}
     * @throws {@link Mainly.UnprocessableEntityError}
     * @throws {@link Mainly.TooManyRequestsError}
     * @throws {@link Mainly.InternalServerError}
     * @throws {@link Mainly.ServiceUnavailableError}
     * @throws {@link errors.MainlyError}
     * @throws {@link errors.MainlyTimeoutError}
     *
     * @example
     *     await client.ethereum.transactions.getStatus({
     *         hash: "hash"
     *     })
     */
    public getStatus(
        request: Mainly.ethereum.GetStatusTransactionsRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): core.HttpResponsePromise<Mainly.ethereum.EthereumTransactionsGetStatusEthereumResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getStatus(request, requestOptions));
    }

    private async __getStatus(
        request: Mainly.ethereum.GetStatusTransactionsRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Mainly.ethereum.EthereumTransactionsGetStatusEthereumResponse>> {
        const { hash } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MainlyEnvironment.Default,
                `v1/ethereum/transactions/${core.url.encodePathParam(hash)}/status`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Mainly.ethereum.EthereumTransactionsGetStatusEthereumResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Mainly.BadRequestError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 401:
                    throw new Mainly.UnauthorizedError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 404:
                    throw new Mainly.NotFoundError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 409:
                    throw new Mainly.ConflictError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 422:
                    throw new Mainly.UnprocessableEntityError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Mainly.TooManyRequestsError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Mainly.InternalServerError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Mainly.ServiceUnavailableError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MainlyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/ethereum/transactions/{hash}/status",
        );
    }

    /**
     * @param {Mainly.ethereum.EthereumTransactionsSimulateEthereumRequest} request
     * @param {TransactionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Mainly.BadRequestError}
     * @throws {@link Mainly.UnauthorizedError}
     * @throws {@link Mainly.NotFoundError}
     * @throws {@link Mainly.ConflictError}
     * @throws {@link Mainly.UnprocessableEntityError}
     * @throws {@link Mainly.TooManyRequestsError}
     * @throws {@link Mainly.InternalServerError}
     * @throws {@link Mainly.ServiceUnavailableError}
     * @throws {@link errors.MainlyError}
     * @throws {@link errors.MainlyTimeoutError}
     *
     * @example
     *     await client.ethereum.transactions.simulate({
     *         transaction: {}
     *     })
     */
    public simulate(
        request: Mainly.ethereum.EthereumTransactionsSimulateEthereumRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): core.HttpResponsePromise<Mainly.ethereum.EthereumTransactionsSimulateEthereumResponse> {
        return core.HttpResponsePromise.fromPromise(this.__simulate(request, requestOptions));
    }

    private async __simulate(
        request: Mainly.ethereum.EthereumTransactionsSimulateEthereumRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Mainly.ethereum.EthereumTransactionsSimulateEthereumResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MainlyEnvironment.Default,
                "v1/ethereum/transactions/simulate",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Mainly.ethereum.EthereumTransactionsSimulateEthereumResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Mainly.BadRequestError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 401:
                    throw new Mainly.UnauthorizedError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 404:
                    throw new Mainly.NotFoundError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 409:
                    throw new Mainly.ConflictError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 422:
                    throw new Mainly.UnprocessableEntityError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Mainly.TooManyRequestsError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Mainly.InternalServerError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Mainly.ServiceUnavailableError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MainlyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/ethereum/transactions/simulate",
        );
    }

    /**
     * @param {Mainly.ethereum.EthereumTransactionsSendEthereumRequest} request
     * @param {TransactionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Mainly.BadRequestError}
     * @throws {@link Mainly.UnauthorizedError}
     * @throws {@link Mainly.NotFoundError}
     * @throws {@link Mainly.ConflictError}
     * @throws {@link Mainly.UnprocessableEntityError}
     * @throws {@link Mainly.TooManyRequestsError}
     * @throws {@link Mainly.InternalServerError}
     * @throws {@link Mainly.ServiceUnavailableError}
     * @throws {@link errors.MainlyError}
     * @throws {@link errors.MainlyTimeoutError}
     *
     * @example
     *     await client.ethereum.transactions.send({
     *         transaction: "transaction"
     *     })
     */
    public send(
        request: Mainly.ethereum.EthereumTransactionsSendEthereumRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): core.HttpResponsePromise<Mainly.ethereum.EthereumTransactionsSendEthereumResponse> {
        return core.HttpResponsePromise.fromPromise(this.__send(request, requestOptions));
    }

    private async __send(
        request: Mainly.ethereum.EthereumTransactionsSendEthereumRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Mainly.ethereum.EthereumTransactionsSendEthereumResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MainlyEnvironment.Default,
                "v1/ethereum/transactions/send",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Mainly.ethereum.EthereumTransactionsSendEthereumResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Mainly.BadRequestError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 401:
                    throw new Mainly.UnauthorizedError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 404:
                    throw new Mainly.NotFoundError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 409:
                    throw new Mainly.ConflictError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 422:
                    throw new Mainly.UnprocessableEntityError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Mainly.TooManyRequestsError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Mainly.InternalServerError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Mainly.ServiceUnavailableError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MainlyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/ethereum/transactions/send",
        );
    }
}
