// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Mainly from "../../../../../index.js";

export declare namespace NetworkClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class NetworkClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<NetworkClient.Options>;

    constructor(options: NetworkClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {NetworkClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Mainly.BadRequestError}
     * @throws {@link Mainly.UnauthorizedError}
     * @throws {@link Mainly.NotFoundError}
     * @throws {@link Mainly.ConflictError}
     * @throws {@link Mainly.UnprocessableEntityError}
     * @throws {@link Mainly.TooManyRequestsError}
     * @throws {@link Mainly.InternalServerError}
     * @throws {@link Mainly.ServiceUnavailableError}
     * @throws {@link errors.MainlyError}
     * @throws {@link errors.MainlyTimeoutError}
     *
     * @example
     *     await client.solanaDevnet.network.getStatus()
     */
    public getStatus(
        requestOptions?: NetworkClient.RequestOptions,
    ): core.HttpResponsePromise<Mainly.solanaDevnet.SolanaNetworkGetStatusSolanaDevnetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getStatus(requestOptions));
    }

    private async __getStatus(
        requestOptions?: NetworkClient.RequestOptions,
    ): Promise<core.WithRawResponse<Mainly.solanaDevnet.SolanaNetworkGetStatusSolanaDevnetResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MainlyEnvironment.Default,
                "v1/solana-devnet/network/status",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Mainly.solanaDevnet.SolanaNetworkGetStatusSolanaDevnetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Mainly.BadRequestError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 401:
                    throw new Mainly.UnauthorizedError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 404:
                    throw new Mainly.NotFoundError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 409:
                    throw new Mainly.ConflictError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 422:
                    throw new Mainly.UnprocessableEntityError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Mainly.TooManyRequestsError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Mainly.InternalServerError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Mainly.ServiceUnavailableError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MainlyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/solana-devnet/network/status",
        );
    }

    /**
     * @param {NetworkClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Mainly.BadRequestError}
     * @throws {@link Mainly.UnauthorizedError}
     * @throws {@link Mainly.NotFoundError}
     * @throws {@link Mainly.ConflictError}
     * @throws {@link Mainly.UnprocessableEntityError}
     * @throws {@link Mainly.TooManyRequestsError}
     * @throws {@link Mainly.InternalServerError}
     * @throws {@link Mainly.ServiceUnavailableError}
     * @throws {@link errors.MainlyError}
     * @throws {@link errors.MainlyTimeoutError}
     *
     * @example
     *     await client.solanaDevnet.network.getBlockhash()
     */
    public getBlockhash(
        requestOptions?: NetworkClient.RequestOptions,
    ): core.HttpResponsePromise<Mainly.solanaDevnet.SolanaNetworkGetBlockhashSolanaDevnetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBlockhash(requestOptions));
    }

    private async __getBlockhash(
        requestOptions?: NetworkClient.RequestOptions,
    ): Promise<core.WithRawResponse<Mainly.solanaDevnet.SolanaNetworkGetBlockhashSolanaDevnetResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MainlyEnvironment.Default,
                "v1/solana-devnet/network/blockhash",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Mainly.solanaDevnet.SolanaNetworkGetBlockhashSolanaDevnetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Mainly.BadRequestError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 401:
                    throw new Mainly.UnauthorizedError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 404:
                    throw new Mainly.NotFoundError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 409:
                    throw new Mainly.ConflictError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 422:
                    throw new Mainly.UnprocessableEntityError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Mainly.TooManyRequestsError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Mainly.InternalServerError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Mainly.ServiceUnavailableError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MainlyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/solana-devnet/network/blockhash",
        );
    }

    /**
     * @param {NetworkClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Mainly.BadRequestError}
     * @throws {@link Mainly.UnauthorizedError}
     * @throws {@link Mainly.NotFoundError}
     * @throws {@link Mainly.ConflictError}
     * @throws {@link Mainly.UnprocessableEntityError}
     * @throws {@link Mainly.TooManyRequestsError}
     * @throws {@link Mainly.InternalServerError}
     * @throws {@link Mainly.ServiceUnavailableError}
     * @throws {@link errors.MainlyError}
     * @throws {@link errors.MainlyTimeoutError}
     *
     * @example
     *     await client.solanaDevnet.network.getFees()
     */
    public getFees(
        requestOptions?: NetworkClient.RequestOptions,
    ): core.HttpResponsePromise<Mainly.solanaDevnet.SolanaNetworkGetFeesSolanaDevnetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getFees(requestOptions));
    }

    private async __getFees(
        requestOptions?: NetworkClient.RequestOptions,
    ): Promise<core.WithRawResponse<Mainly.solanaDevnet.SolanaNetworkGetFeesSolanaDevnetResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MainlyEnvironment.Default,
                "v1/solana-devnet/network/fees",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Mainly.solanaDevnet.SolanaNetworkGetFeesSolanaDevnetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Mainly.BadRequestError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 401:
                    throw new Mainly.UnauthorizedError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 404:
                    throw new Mainly.NotFoundError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 409:
                    throw new Mainly.ConflictError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 422:
                    throw new Mainly.UnprocessableEntityError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Mainly.TooManyRequestsError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Mainly.InternalServerError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Mainly.ServiceUnavailableError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MainlyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/solana-devnet/network/fees",
        );
    }

    /**
     * @param {Mainly.solanaDevnet.SolanaNetworkEstimateFeesSolanaDevnetRequest} request
     * @param {NetworkClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Mainly.BadRequestError}
     * @throws {@link Mainly.UnauthorizedError}
     * @throws {@link Mainly.NotFoundError}
     * @throws {@link Mainly.ConflictError}
     * @throws {@link Mainly.UnprocessableEntityError}
     * @throws {@link Mainly.TooManyRequestsError}
     * @throws {@link Mainly.InternalServerError}
     * @throws {@link Mainly.ServiceUnavailableError}
     * @throws {@link errors.MainlyError}
     * @throws {@link errors.MainlyTimeoutError}
     *
     * @example
     *     await client.solanaDevnet.network.estimateFees({
     *         transaction: "transaction"
     *     })
     */
    public estimateFees(
        request: Mainly.solanaDevnet.SolanaNetworkEstimateFeesSolanaDevnetRequest,
        requestOptions?: NetworkClient.RequestOptions,
    ): core.HttpResponsePromise<Mainly.solanaDevnet.SolanaNetworkEstimateFeesSolanaDevnetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__estimateFees(request, requestOptions));
    }

    private async __estimateFees(
        request: Mainly.solanaDevnet.SolanaNetworkEstimateFeesSolanaDevnetRequest,
        requestOptions?: NetworkClient.RequestOptions,
    ): Promise<core.WithRawResponse<Mainly.solanaDevnet.SolanaNetworkEstimateFeesSolanaDevnetResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MainlyEnvironment.Default,
                "v1/solana-devnet/network/fees/estimate",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Mainly.solanaDevnet.SolanaNetworkEstimateFeesSolanaDevnetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Mainly.BadRequestError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 401:
                    throw new Mainly.UnauthorizedError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 404:
                    throw new Mainly.NotFoundError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 409:
                    throw new Mainly.ConflictError(_response.error.body as Mainly.ApiError, _response.rawResponse);
                case 422:
                    throw new Mainly.UnprocessableEntityError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Mainly.TooManyRequestsError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Mainly.InternalServerError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Mainly.ServiceUnavailableError(
                        _response.error.body as Mainly.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MainlyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/solana-devnet/network/fees/estimate",
        );
    }
}
